listening-ip=0.0.0.0
relay-ip=__PUBLIC_IP__
external-ip=__PUBLIC_IP__
listening-port=443
min-port=61050
max-port=61100
fingerprint
use-auth-secret
static-auth-secret=__TURN_SECRET__
realm=__TURN_HOST__
server-name=__TURN_HOST__
no-tcp
no-tls
no-dtls
no-cli
no-multicast-peers
stale-nonce=600
proc-user=turnserver
proc-group=turnserver
pidfile=/run/borotalk-turn-udp443.pid
log-file=stdout
simple-log
